<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>

<table>
    <th>
        <td>First Name</td>
        <td>Age</td>
        <td>Email</td>
        <td>Profile</td>
    </th>
    {% for customer in customers%}
    <tr>
        <td>{{customer.first_name}}</td>
        <td>{{customer.age}}</td>
        <td>{{customer.Email}}</td>
        <td><a href="{%url 'customer_profile'id=customer.id%}"></a>
            view profile</td>
</tr>
{%endfor%}
</table>
