<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
        <td> account Number</td>
        <td>account Name</td>
        <td>balance</td>
        <td>wallet</td>
        <td>account Type</td>



    </th>
    {% for account in accounts%}
    <tr>
        <td>{{account.account_Number}}</td>
        <td>{{account.account_Name}}</td>
         <td>{{account.wallet}}</td>
        <td>{{account.account_Type}}</td>
        <td>{{account.balance}}</td>

</tr>
{%endfor%}
</table>
