<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
        <td>card Number</td>
        <td>card Name</td>
        <td>expiry Date</td>
        <td>issuer</td>
        <td> account</td>
        <td>date issued </td>



    </th>
    {% for Card in Cards%}
    <tr>
        <td>{{Card.card_number}}</td>
        <td>{{Card.card_name}}</td>
        <td>{{Card.issuer}}</td>
        <td>{{Card.expiry_date}}</td>
        <td>{{Card.account_type}}</td>
        <td>{{Card.date_issued }}</td>

</tr>
{%endfor%}
</table>
