<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
        <td>message</td>
        <td><Title></Title></td>




    </th>
    {% for notification in notifications%}
    <tr>
        <td>{{notification.message}}</td>
        <td>{{notification.title}}</td>


</tr>
{%endfor%}
</table>
