<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
        <td>ammount</td>
        <td>date time</td>
        <td>transaction</td>
        <td>receipt type</td>



    </th>
    {% for receipt in receipts%}
    <tr>
        <td>{{receipt.ammount}}</td>
        <td>{receipt.date_time}}</td>
        <td>{{receipt.transaction}}</td>
        <td>{{receipt.receipt_type}}</td>

</tr>
{%endfor%}
</table>
