<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>
<table>
    <th>
        <td>Name</td>
        <td>points</td>
        <td>customers id</td>



    </th>
    {% for reward in rewards%}
    <tr>
         <td>{{reward.Name}}</td>
        <td>{{reward.points}}</td>
        <td>{{reward.customer_id}}</td>

</tr>
{%endfor%}
</table>
