<style>
    table th, td  {
      border: 1px solid;
      padding: 10px;
    }
    th{
      color: rgb(224, 210, 210);
      background-color: rgb(105, 43, 221);
    }
    table {
      width: 80%;
      border-collapse: collapse;
      margin-left: 10%;
    }
</style>

<table>
    <th>
        <td>Currency</td>
        <td>pin</td>
        <td>date created</td>
        <td> isActive</td>
        <td>balance </td>
        <td>customer</td>



    </th>
    {% for wallet in wallets%}
    <tr>
        <td>{{wallet.Currency}}</td>
        <td>{{wallet.pin}}</td>
         <td>{{wallet.date_created}}</td>
        <td>{{wallet.isActive}}</td>
        <td>{{wallet.balance}}</td>
        <td>{{wallet.customer}}</td>

</tr>
{%endfor%}
</table>
